.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: calc(-1 * var(--page-gutter)) calc(-1 * var(--page-gutter)) 0.5rem;
  padding: 0.3rem;
  overflow-wrap: break-word;
  overflow-x: scroll;
  text-overflow: ellipsis; 
  background: rgba(255, 255, 255, 0.486);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.navbar-item{
    padding: 0.5rem;
    border: 1px solid rgba(252, 76, 2, 0.16);
    border-radius: 0.75rem;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.1);
    color: var(--offwhite-colour);
    background-color: var(--brand);
}

#signout{
  margin-left: auto;
  width: fit-content;
  /* min-width: fit-content; */
}

.account-dropdown {
    display: block;
}

.navbar-item:hover {
  border: 2px solid rgba(252, 76, 2, 0.16);
}

.account-dropdown .content {
    display: none;
    flex-direction: column;
    font-size: smaller;
    color: black;
}

.account-dropdown:hover .content {
    display: flex;
}

.label-icon {
  display: inline;
}

@media (max-width: 500px) {
  .label-text {
    display: none;
  }
  .label-icon {
    display: inline;
  }

  .navbar-item:hover .label-text{
    display: inline;
  }

}